<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ 'CHANGE_PASSWORD' | translate }}</h3>
			</div>
			<div class="panel-body">
				<form class="form" name="changePasswordForm">
					<div class="form-group" ng-class="{ 'has-error': changePasswordForm.password.$dirty && changePasswordForm.password.$error.required }">
						<label for="password" class="control-label">{{ 'PASSWORD' | translate }}</label>
						<input id="password" ng-model="$parent.password" name="password" type="password" class="form-control" required match="passwordVerification">
						<p class="text-danger" ng-show="changePasswordForm.password.$dirty && changePasswordForm.password.$error.required">{{ 'ENTER_PASSWORD' | translate }}</p>
					</div>
					<div class="form-group" ng-class="{ 'has-error': changePasswordForm.passwordVerification.$dirty && (changePasswordForm.passwordVerification.$error.required || changePasswordForm.passwordVerification.$error.match) }">
						<label for="passwordVerification" class="control-label">{{ 'PASSWORD_VERIFICATION' | translate }}</label>
						<input id="password" ng-model="$parent.passwordVerification" name="passwordVerification" type="password" class="form-control" required match="password">
						<p class="text-danger" ng-show="changePasswordForm.passwordVerification.$dirty && changePasswordForm.passwordVerification.$error.required">{{ 'ENTER_PASSWORD' | translate }}</p>
						<p class="text-danger" ng-show="changePasswordForm.passwordVerification.$dirty && changePasswordForm.passwordVerification.$error.match">{{ 'PASSWORD_MISMATCH' | translate }}</p>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-4">
								<input type="submit" ng-disabled="changePasswordForm.$invalid" value="{{ 'CHANGE_PASSWORD' | translate }}" class="btn" ng-class="{ 'btn-primary': !passwordChanged, 'btn-success': passwordChanged }" ng-click="changePassword()">
							</div>
							<div class="col-sm-8">
								<p class="text-success" ng-show="passwordChanged">{{ 'PASSWORD_CHANGED' | translate }}</p>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
