<h2>{{ 'YOUR_CO_WORKERS' | translate }}</h2>

<div class="row">
	<div class="col-sm-8">
		<div class="list-group-item" ng-repeat="contact in hits">
			<div class="row">
				<div class="col-sm-10">
					<a ng-href="#/contact/{{ contact.id }}/{{ contact.co_worker_user_id }}">{{ contact.vCardData[11] }}</a>
				</div>
				<div class="col-sm-2">
					<button class="btn btn-danger btn-xs pull-right" ng-click="openDeleteModal(contact.co_worker_user_id, contact.id)" ng-if="$root.user.roles.ROLE_ADMIN">{{ 'REMOVE' | translate }}</button>
				</div>
			</div>
		</div>
		<br><p class="text-success show-hide" ng-show="coWorkerRemoved">{{ 'CONNECTION_REMOVED' | translate }}</p>
	</div>
</div>
<div class="row" ng-show="total > 10">
	<div class="col-sm-6">
		<pagination class="pagination-sm" boundary-links="true" total-items="total" ng-model="currentPage" max-size="maxSize" items-per-page="itemsPerPage" ng-change="selectPage(currentPage)" previous-text="{{ 'PREVIOUS' | translate }}" next-text="{{ 'NEXT' | translate }}" first-text="{{ 'FIRST' | translate }}" last-text="{{ 'LAST' | translate }}"></pagination>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ 'ADD_CO_WORKER' | translate }}</h3>
			</div>
			<div class="panel-body">
				<form class="form" name="addForm">
					<div class="form-group" ng-class="{ 'has-error': addForm.eMailAddress.$dirty && (addForm.eMailAddress.$error.required || addForm.eMailAddress.$error.email) }">
						<label for="eMailAddress" class="control-label">{{ 'EMAIL_ADDRESS' | translate }}</label>
						<input id="eMailAddress" ng-model="$parent.eMailAddress" name="eMailAddress" type="email" class="form-control" required>
						<p class="text-danger" ng-show="addForm.eMailAddress.$dirty && addForm.eMailAddress.$error.required">{{ 'ENTER_EMAIL_ADDRESS' | translate }}</p>
						<p class="text-danger" ng-show="addForm.eMailAddress.$dirty && addForm.eMailAddress.$error.email">{{ 'EMAIL_ADDRESS_INVALID' | translate }}</p>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-4">
								<input type="submit" ng-disabled="addForm.$invalid" value="{{ 'SUBMIT' | translate }}" class="btn" ng-class="{ 'btn-primary': !addCoWorkerError, 'btn-danger': addCoWorkerError }" ng-click="addCoWorker()">
							</div>
							<div class="col-sm-8">
								<p class="text-danger" ng-show="addCoWorkerError">{{ 'ADDING_CONNECTION_FAILED' | translate }}</p>
								<p class="text-success show-hide" ng-show="addCoWorkerSuccess">{{ 'ADDING_CONNECTION_SUCCESSFUL' | translate }}</p>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="modalContent.html">
	<div class="modal-header">
	</div>
	<div class="modal-body">
		<p class="text-danger"><strong>{{ 'REMOVAL_CONFIRMATION' | translate }}</strong></p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" ng-click="delete()">{{ 'REMOVE' | translate }}</button>
		<button class="btn btn-default" ng-click="cancel()">{{ 'CANCEL' | translate }}</button>
	</div>
</script>
